@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');



:root {
  --light-blue: #d0e1f9;
  --med-blue: #4d648d;
  --dark-blue: #283655;
}


* {
  margin: 0;
  padding: 0;
}

body {
  background: White;
  color: black;
  font-family: 'Montserrat', sans-serif;
}
h2 {
  color: var(--med-blue);
}



/*----------Head Strip-------------*/
.head {
  position: sticky;
  margin: 0;
  padding: 0;
  top: 0;
  z-index: 10000;
  width: 100%;
}
.head .top {
  position: relative;
  background: black;
  color: white;
  font-size: 1em;
  top: 0;
  width: 100%;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 13px rgba(0,0,0,0.7);
}
.head .top i {
  font-size: 1.8em;
  position: absolute;
  left: 0;
  margin-left: 10px;
}


/*----------- Navbar-------------- */
.head ul {
  list-style: none;
  position: absolute;
  left: 0;
  width: 0;
  height: 100vh;
  padding-top: 0;
  display: flex;
  flex-flow: column;
  align-items: center;
  background: #262626;
  color: white;
  z-index: 10;
  overflow-x: hidden;
  overflow-y: scroll;
  transition: width 600ms;
}
.head li {
  width: 100%;
}
.head li a {
  text-decoration: none;
  height: 4rem;
  width: 100%;
  color: white;
  padding-left: 20px;
  display: flex;
  align-items: center;
}
.head li:hover a {
  background: white;
  color: black;
}
.head #close {
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 1.7rem;
  color: #b1b1b1;
}




/*--------Fist section (Home)--------*/
.Home {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Home:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: linear-gradient(to top, #fff, transparent, transparent, transparent)
}
.Home img {
  width: 100%;
  position: relative;
}
.Home p {
  position: absolute;
  padding: 10px;
  font-weight: 800;
}




/*-------Second section (About Us)-------*/
.About {
  text-align: center;
  margin: 6em 0 0 0;
  position: relative;
}
.About h2 {
  font-size: 2.25em;
}

.About p {
  margin: 2.5em 0 0 0;
}




/*-------Third section (Tour)-------*/
.Tour {
  margin-top: 4em;
  text-align: center;
  position: relative;
  background: var(--light-blue);
}
.Tour h2 {
  font-size: 2.4em;
}

/*-------Third section (Tour-Cities)-------*/
.Cities {
  width: 100%;
  display: grid;
  justify-items: center;
  margin-top: 1.5em;
  overflow: hidden;
}
.Cities span {
  margin: 1em 0 0 0;
  font-size: 1.5em;
  font-weight: 500;
}

.Cities .cities4 {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 10px;
}
.Cities .cities4 div {
  padding: 10px;
}
.Cities .cities4 div img {
  position: relative;
  width: 100%;
  max-width: 500px;
}
.Cities .cities4 img h4 {
  position: absolute;
  bottom: 0;
  background: rgba(0,0,0,0.5);
}


/* Load More/less Buttom */
.Cities button {
  width: 140px;
  height: 45px;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 800;
  color: #000;
  background-color: #fff;
  border-radius: 45px;
  outline: none;
  border: none;
  margin: 20px 0 20px 0;
  box-shadow: 0 10px 20px 0 rgba(0,0,0,0.15)
}


.Cities .citiesRest {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 10px;
}
.Cities .citiesRest div {
  padding: 10px;
}
.Cities .citiesRest img {
  position: relative;
  width: 100%;
  max-width: 500px;
}
.Cities .citiesRest img h4 {
  position: absolute;
  bottom: 0;
  background: rgba(0,0,0,0.5);
}




/*------Third Section (Tour-Sites)-------*/

.Sites {
  Width: 100%;
  margin-top: 3.2em;
  overflow-x: hidden;
}
.Sites > span {
  font-size: 1.5em;
  font-weight: 500;
}

/*Sites Container, Images, etc*/
.Sites_container {
  width: 100%;
  height: 400px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  overflow-x: scroll;
  margin-top: 2em;
}
.Sites_container div {
  position: relative;
  width: 100%;
  padding: 0 1em;
  display: flex;
  flex-flow: column;
  align-items: center;
}
.Sites_container div img {
  position: relative;
  width: 280px;
  max-width: 500px;
  box-shadow: 0 10px 20px 0 rgba(0,0,0,0.15)
}

/*Sites Content*/

.Sites_container div > .Sites_content {
  position: relative;
  bottom: 5%;
  width: 60%;
  height: 65px;
  background: white;
  color: black;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 10px 20px 0 rgba(0,0,0,0.15)
}
.Sites_container div > .Sites_content h5 {
  color: #747479;
}

.Sites_container > .Site_11 .Sites_content {
  width: 65%;
}
















@media only screen and (min-width: 786px) {
  
  .Cities .cities4,
  .Cities .citiesRest {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 0 10px;
  }
  
  
}