@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
}
body {
  background: black;
  color: white;
  font-family: 'Montserrat', sans-serif;
}



/*----------Head Strip-------------*/
.head {
  position: sticky;
  margin: 0;
  padding: 0;
  top: 0;
  z-index: 10000;
}
.head .top {
  position: relative;
  background: black;
  color: white;
  font-size: 1em;
  top: 0;
  width: 100%;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 13px rgba(255,255,255,0.7);
}
.head .top i {
  font-size: 1.8em;
  position: absolute;
  left: 0;
  margin-left: 10px;
}


/*----------- Navbar-------------- */
.head ul {
  list-style: none;
  position: absolute;
  left: 0;
  width: 0;
  height: 100vh;
  padding-top: 0;
  display: flex;
  flex-flow: column;
  align-items: center;
  background: #262626;
  color: white;
  z-index: 10;
  overflow-x: hidden;
  overflow-y: scroll;
  transition: width 600ms;
}
.head li {
  width: 100%;
}
.head li a {
  text-decoration: none;
  height: 4rem;
  width: 100%;
  color: white;
  padding-left: 20px;
  display: flex;
  align-items: center;
}
.head li:hover a {
  background: white;
  color: black;
}
.head #close {
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 1.7rem;
  color: #b1b1b1;
}




/*--------Fist section (Home)--------*/
.Home {
  position: relative;
  z-index: -1;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Home:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: linear-gradient(to top, #000, transparent, transparent, transparent)
}
.Home img {
  width: 100%;
  position: relative;
}
.Home p {
  position: absolute;
  padding: 10px;
  font-weight: 800;
}




/*-------Second section (About Us)-------*/
.About {
  text-align: center;
  margin: 6em 0 0 0;
  position: relative;
}
.About h2 {
  display: flex;
  flex-direction: row;
}
.About h2:before,
h2:after {
  content: "";
  flex: 1 1;
  border-bottom: 1px solid #fff;
  margin: auto 5px;
}

.About p {
  margin: 2.5em 0 0 0;
}




/*-------Third section (Tour)-------*/
.Tour {
  margin-top: 6em;
  text-align: center;
  position: relative;
}
.Tour h2 {
  font-size: 1.7em;
  display: flex;
  flex-direction: row;
}
.Tour > h2:before,
.Tour > h2:after {
  content: "";
  flex: 1 1;
  border-bottom: 1px solid #fff;
  margin: auto 5px;
}

/*-------Third section (Tour-Cities)-------*/
.Cities {
  width: 100%;
  display: grid;
  justify-items: center;
  margin-top: 1.5em;
  overflow: hidden
}
.Cities h3 {
  margin: 1em 0 0 0;
  font-size: 1.3em;
}

.Cities .cities4 {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 10px;
}
.Cities .cities4 div {
  position: relative;
  padding: 10px;
  display: flex;
}
.Cities .cities4 div img {
  position: relative;
  width: 100%;
  max-width: 500px;
}
.Cities .cities4 h4 {
  position: absolute;
  width: 95%;
  bottom: 0;
  padding: 0 0 10px 0;
  text-align: center;
  background: rgba(0,0,0,0.5)
}

.Cities button {
  width: 140px;
  height: 45px;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 800;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  outline: none;
  margin: 20px 0 20px 0;
}


.Cities .citiesRest {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 10px;
}
.Cities .citiesRest div {
  position: relative;
  padding: 10px;
  display: flex;
}
.Cities .citiesRest img {
  position: relative;
  width: 100%;
  max-width: 500px;
}
.Cities .citiesRest h4 {
  position: absolute;
  width: 95%;
  bottom: 0;
  padding: 0 0 10px 0;
  text-align: center;
  background: rgba(0,0,0,0.5)
}

h1 {
  display: flex;
  flex-direction: row;
}
h1:before, h1:after{
  content: "";
  flex: 1 1;
  border-bottom: 1px solid #000;
  margin: auto;
}





/*------Third Section (Tour-Sites)-------*/

.Sittes {
  Width: 100%;
  margin-top: 1.5em;
  overflow-x: hidden;
}
.Sites h3 {
  margin: 3em 0 0 0;
  font-size: 1.3em;
  text-align: center;
}

/*Sites Container, Images, etc*/
.Sites_container {
  width: 100%;
  height: 400px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  overflow-x: scroll;
}
.Sites_container div {
  position: relative;
  width: 100%;
  padding: 0 1em;
  display: flex;
  flex-flow: column;
  align-items: center;
}
.Sites_container div img {
  position: relative;
  width: 270px;
  max-width: 500px;
}

/*Sites Content*/

.Sites_container div > .Sites_content {
  position: relative;
  bottom: 5%;
  width: 60%;
  height: 65px;
  background: white;
  color: black;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 5px;
}
.Sites_container div > .Sites_content h5 {
  color: #747479;
}


